<div class="container-fluid">

<%= render 'form'%>


<table align="center">
    <tr>
        <th>Amount(Ksh)</th>
        <th>Description</th>
    </tr>
    <% @expenses.each do |expense| %>
    <tr>
        <td style="width:10em;" class="expense"><%=expense.amount%></td>
        <td class="description"><%=expense.description%></td>
      <td style="width:5em;" class="del"><%= link_to expense_path(expense), data: {confirm: 'delete field?', method: 'delete'},class: "btn btn-danger" do%><i class="glyphicon glyphicon-trash" aria-hidden="true"></i><% end %></td>
      <td style="width:5em;" class="edit"><%= link_to edit_expense_path(expense) do%><i class="glyphicon glyphicon-edit" aria-hidden="true"></i><%end%></td>

    </tr>
    <% end %>
</table>

<%= link_to 'graph expense', homes_show_path%>

</div>
