
<%= render 'form'%>

<table>
    <tr>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr>
        <% if  @expenses.any? %>
        <% @expenses.each do |expense| %>
        <td><%=expense.amount%></td>
        <td><%=expense.description%></td>
      <th><%= link_to expense_path(expense), data: {confirm: 'delete field?', method: 'delete'},class: "btn btn-danger" do%><i class="glyphicon glyphicon-trash" aria-hidden="true"></i><% end %></th>
      <th><%= link_to edit_expense_path(expense) do%><i class="glyphicon glyphicon-edit" aria-hidden="true"></i><%end%></th>
        <% end %>
        <% else %>
        <h3>No expenses today!!</h3>
        <% end %>

    </tr>
</table>
